/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

body {
  font-family:'Orbitron', sans-serif;
  background-color:none;
	background-image:url('');
	color: black;
       font-size: 21px;


.zoom {
  height:100px;
}
.zoom p {
  text-align:center;
}
.zoom img {
  width:50px;
  height:100px;
}
.zoom img:hover {
  width:55px;
  height:111px;
