/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

body {
  font-family:'Orbitron', sans-serif;
  background-color:silver;
	background-image:url('background.png');
	color: blue;
       font-size: 21px;
  
  
  
}

header {
 color:black ;
 background-color:silver;
 background-image:url("background.png");
  display:flex-center;
   padding: 60px 0;
   
   font-size:21px;
}

header .row,
footer .row {
  color:black;
  background-color:none;
background-image:url('background.png');
 

  
 display: center;
  align-items: center;
  color:blue;
  background-color:silver;
  
}

h1 {
  color:black;
   
  height: flex-bottom;
  font-weight: 16px;
  margin: 19px;
  display:center;
  
  

nav {
 background-color:silver;
 color: blue;
  display:flex-block;
  justify-content: flex-end;
	display: center;

  

  
  

a {
color: blue;
  padding: 21px ;
  margin:  21px;
}
  
  a {
	color: black; text-decoration: blink;
}
	a:hover {
		color:silver;
	}

.jumbotron {
  display:center;

  align-items: flex;
  border-image-outset: 11px ;
display :center-block;

  background-size:cover;
  color:black;
  background-color:silver;
  height: 11px;
}

.jumbotron h2 {
background-image:url('');
  font-size: 27px;
  font-weight: 16px;
  margin: 8px;
  color:black ;
 

 
 
 
}

.jumbotron h3 {
  Font-size: 16px;
  margin: 0 0 8px;
  color:blue;
  background-color:silver;
  display:center;
 
}

section .row img {
  color:blue;
  display: center;
  

  margin: 1px;
  width: 1px;
  
}

.col-md-6 {
  color: blue;
  background-color:silver ;
  margin: 0 0 auto;
}

.btn.btn-primary {
  border-radius: 11px;
  border: 11px;
  color:wh;
  background-color:black ;
}

.btn.btn-primary:hover {
  color:white;
  background-color: silver;
	display: center;
}

.btn-secondary {
  background-color:silver ;
  color:yellow;
  margin: 0 0 0 7px
}
.button {
  display: center;
  color:silver;
  }
  
.portrait {
  color:none;
  
  width:  0 auto;
  height: 0 auto;
}

figure img {
  color:blue;
  width: 3px;
  height: 3px;
  background-color:black;

}

figure {
  margin-bottom:none;
  color:white;
	display:center;
}

footer {
  font-size: 7px;
  padding: 7px 0;
  color:white;
  background-color:blak;






footer .col-sm-8 {
  background-color:black;
  color:white;
  display: flex-center;
  justify-content: flex-end;
}

footer ul {
  color:white;
  background-color:black;
  list-style: flex;
}
